.tabla{
    width: 100%;
    background-color: #000000;
}
h1{
    text-align: center;
}
tr{
    background-color: rgba(53,60,78,255);
    font-size: 20px;
    color: rgba(179, 179, 179, 0.767);
}

.titulos{
    background-color: rgba(33,38,57,255);
    color: rgb(0, 136, 136);
}

body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(33,38,57,255);
    font-family: 'Abel', sans-serif;
}

#header{
    color: white;
}
th{
    padding-top: 5px;
    padding-bottom: 5px;
}